/build/
/doc/de
/doc/es
/doc/fr
/doc/it
/doc/ja
/doc/pl
/doc/pt
/doc/pt_BR
/autom4te.cache
/autom4te.cache/output.0
/autom4te.cache/traces.0
/buildlib/config.h.in~
/configure
/config.log
/config.status
/doc/Doxyfile
/environment.mak
/makefile
/include
/po/domains
